extends layout

block content

  h1 Artist: #{artist.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Releases

    dl
      each record in artist_records
        dt
          a(href=record.url) #{record.title}
        dd #{record.summary}

      else
        p This artist has no records.

    hr
    p
        a(href=artist.url+'/delete') Delete artist