extends layout

block content
    h1 Format: #{format.name}
    div.gridd
      each record in format_records
          div(class='cardd')
              a(href=record.url)
                  div(class='cardd-img')
                      img(src=record.image_url alt='record-image')
              div(class='cardd-info')
                  b
                      a(href=record.url) !{record.title}
                  br
                  a(href=record.artist.url) #{record.artist.name}
      else
        p This format has no records