extends layout

block content
    h1 Genre: #{genre.name}
    div.gridd
      each record in genre_records
          div(class='cardd')
              a(href=record.url)
                  div(class='cardd-img')
                      img(src=record.image_url alt='record-image')
              div(class='cardd-info')
                  b
                      a(href=record.url) !{record.title}
                  br
                  a(href=record.artist.url) #{record.artist.name}

      else
        li There are no records to display.

    hr
    p
      a(href=genre.url+'/delete') Delete genre




