extends layout

block content
  div.release-card
    div.release-thumbnail
      a(href=record.image_url): img(src=record.image_url)
    h2.release-header !{record.title}
      |
      | -
      |
      a(href=record.artist.url) #{record.artist.name}
    div.release-info
      div.info-line
        div.label
          p Label:
        div.content
          a(href=record.label.url) #{record.label.name}
      div.info-line
        div.label
          p Format:
        div.content
          a(href=record.format.url) #{record.format.name}
      div.info-line
        div.label
          p Genre:
        div.content
          each val, index in record.genre
            a(href=val.url) #{val.name}
              if index < record.genre.length - 1
                | ,
                |
      div.info-line
        div.label
          p Stock:
        div.content
          if(record.quantity > 0)
              | #{record.quantity} in stock 
          else 
              p Out of stock.

  hr
  p
    a(href=record.url+'/delete') Delete Record
  p
    a(href=record.url+'/update') Update Record